[submodule "AppAuth-iOS"]
	path = AppAuth-iOS
	url = git@github.com:openid/AppAuth-iOS.git
[submodule "XCI-ProviderSDK-iOS"]
	path = XCI-ProviderSDK-iOS
	url = https://github.com/Raizlabs/XCI-ProviderSDK-iOS
