
#include "../../../../Shared/xcconfig/Sprint.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.att.ent.cso.haloc.photoapp.sprint
PRODUCT_NAME = sprint-$(TARGET_NAME)

// This file must be included last to properly resolve the offical Xcode variables.
#include "../../../../Shared/xcconfig/Global.xcconfig"
