<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626014216373-msntb99eqtvm91thuh47j1c57ahl6ke2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626014216373-msntb99eqtvm91thuh47j1c57ahl6ke2</string>
	<key>API_KEY</key>
	<string>AIzaSyD7ZoAsj_LECJUX6ZzgoDahbeW3bHWBbas</string>
	<key>GCM_SENDER_ID</key>
	<string>626014216373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.att.cso.consumer.MKapp</string>
	<key>PROJECT_ID</key>
	<string>samplepushservice-f471b</string>
	<key>STORAGE_BUCKET</key>
	<string>samplepushservice-f471b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626014216373:ios:d1c5ed429c4ecb13</string>
	<key>DATABASE_URL</key>
	<string>https://samplepushservice-f471b.firebaseio.com</string>
</dict>
</plist>